@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');

body {
    margin: 0px;
    font-family: 'Seaweed Script', cursive;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin: 0px;
    font-family: 'Seaweed Script', cursive;
    font-size: 50px;
    text-align: center;
}
.button {
    display: block;
}


body {
    padding: 20px;
    font-family: 'Seaweed Script', cursive;
    font-size: 3em;
    text-align: center;
}

a:hover {
    background-color: lightgray;
    transform: scale(1.1); 
}